
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
     /* :root{
        --main-font:initial-scale;
      }*/
      header{
        height: 100vh;
        width: 100%;
        background-color: White;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
      }
      .main-header{
        text-align: center;

      }
      .main-header h1{
        font-size: 5rem;
       font-family: serif;
       margin: 20px;
      }
      .main-header hr{
        width: 70%;
        margin: auto;
        padding: 1px;
        background:black;
        border: none;        
      }
      .main-header h3{
        margin: 20px;
        font-size: 2rem;
       font-family: cursive;

      }
      .main-header input{
        width: 90%;
        padding: 1rem;
        margin: 20px 0px;
        border: none;
        border-bottom: 2px solid black;
        font-size: 1.3rem;
        background:transparent;
        outline: none;        
      }
      .main-header button{
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border: none;
        background:#B0A2EF;
        color: black;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.5s;
        outline: none;
      }
      .main-header button:hover{
        transform: scale(1.2);
      }
      
.adjust-top
{
	margin-top: 120px;
}